.table {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  opacity: 0.5;
}

.table th {
  padding: 20px;
  height: 90px;
  width: 105px;
  text-align: center;
  border-bottom: 1px solid transparent;
  background-color: #00113a;
}

.table td {
  padding: 15px;
  height: 45px;
  text-align: center;
  border-bottom: 1px solid transparent;
  width: 120px;
}

.odd-row {
  background-color: #031139;
}

.row-even {
  background-color: #0E1D42;
}