.tHead {
  border-collapse: collapse;
  background-color: #00113a;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sort button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}