.table {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table th {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid transparent;
  width: 120px;

}

.table td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid transparent;
  width: 120px;
}

.odd-row {
  background-color: rgb(54, 54, 54);
}

.row-even {
  background-color: #818181;
}